<configuration>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%level] [%thread] [%logger{36}] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- LogNCrashHttpAppender 선언 -->
    <appender name="logNCrashHttp" class="com.toast.java.logncrash.logback.LogNCrashHttpAppender">
        <appKey>h98AoVSn5I3rIctz</appKey>
        <logSource>${spring.profiles.active}</logSource>
        <version value="1.0.0"/>
        <logType value="error"/>
        <category value="book"/>
        <errorCodeType value="action"/>
    </appender>
    <!-- LogNCrashHttpAppender를 포함한 AsyncAppender 선언 -->
    <appender name="LNCS-APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <!-- Logback의 AsyncAppender 옵션 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <includeCallerData value="false"/>
        <queueSize value="2048"/>
        <neverBlock value="true"/>
        <maxFlushTime value="60000"/>
        <appender-ref ref="logNCrashHttp"/>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- local -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- dev -->
    <springProfile name="dev">
        <property name="LOG_PATH" value="log/dev"/>
        <property name="LOG_FILE_NAME" value="book-dev"/>
        <root level="INFO">
            <appender-ref ref="LNCS-APPENDER"/>
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <!-- prod -->
    <springProfile name="prod">
        <property name="LOG_PATH" value="log/prod"/>
        <property name="LOG_FILE_NAME" value="book-prod"/>
        <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/%d{yyyy-MM}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="PROD_FILE"/>
            <appender-ref ref="LNCS-APPENDER"/>
        </root>
    </springProfile>
</configuration>
